In [55]:
import pandas as pd

In [56]:
df = pd.read_csv("Data/raw/raw.csv")
print(df)

                          Name             Age Course                    Score
0                                 David   18.0                       AI   85.0
1                                  sarah  20.0             data science    NaN
2                                   JOHN   NaN                      AI    92.0
3                                 Esther  21.0            Cybersecurity   69.0
4                                    NaN  17.0                       AI   88.0
5                                  Grace  22.0                      NaN   90.0
6                                 Daniel  18.0            Cybersecurity    NaN
7                                 Daniel  18.0            Cybersecurity    NaN
8                                   Ruth   NaN                       ai   81.0
9                                Michael  19.0             Data Science   76.0
10                                 ANNA   20.0                       AI   89.0
11                                  john  19.0                       ai   91.0
12                                Esther  21.0            CYBERSECURITY   69.0
13                                Samuel   NaN             Data Science   84.0
14                               Rebecca  22.0                       AI    NaN
15                                  Paul  23.0            cybersecurity   78.0
16                                  Mary  21.0             Data Science   82.0
17                                 Peter  20.0                       AI   90.0
18                                   NaN  18.0                       AI   75.0
19                                 Grace  22.0             Data Science   90.0

In [58]:
df.columns = df.columns.str.strip() # Remove white space from the columns
df["Name"] = df["Name"].str.strip().str.capitalize() # Remove white space from the Name column
df["Course"] = df["Course"].str.strip().str.lower() # Remove whitespace from the Course column

# Standardize Course Names
df["Course"] = df["Course"].replace({

    "ai": "AI",
    "data science": "Data Science",
    "cybersecurity": "Cybersecurity"
})

# Handling missing Values (Droppna/Fillna)
# df = df.dropna()

df["Age"] = df["Age"].fillna(df["Age"].median())
df["Score"] = df["Score"].fillna(df["Score"].mean())
df["Course"] = df["Course"].fillna("Unknown")
df["Name"] = df["Name"].fillna("Unknown")

# Fix Data Types
df["Age"] = df["Age"].astype(int)
# Do that of score

# Remove Duplicates
df = df.drop_duplicates()


df

# Save Clean Data
df.to_csv("Data/processed/cleaned.csv", index=False)