In [23]:
import pandas as pd

In [24]:
df = pd.read_csv("Data/raw/raw.csv")
print(df)

                          Name              Age Course                   Score
0                                 David      18                       AI    85
1                                  sarah     20             data science   NaN
2                                   JOHN    NaN                      AI     92
3                                 Esther     21            Cybersecurity    69
4                                    NaN     17                       AI    88
5                                  Grace     22                      NaN    90
6                                 Daniel     18            Cybersecurity   NaN
7                                 Daniel  18               Cybersecurity   NaN
8                                   Ruth    NaN                       ai    81
9                                Michael     19             Data Science    76
10                                 ANNA      20                       AI    89
11                                  john     19                       ai    91
12                                Esther     21            CYBERSECURITY    69
13                                Samuel                    Data Science    84
14                               Rebecca     22                       AI
15                                  Paul     23            cybersecurity    78
16                                  Mary     21             Data Science    82
17                                 Peter     20                       AI    90
18                                   NaN     18                       AI    75
19                                 Grace     22             Data Science    90

In [25]:
df.columns

Index(['                       Name          ', 'Age',
       'Course                  ', 'Score'],
      dtype='object')