Tuple Challenge Questions

1. Create a tuple containing five fruits. Print the first and last items.


2. Given a tuple of numbers, find the largest and smallest values.


3. Write a program to count how many times a specific item appears in a tuple.


4. Given a tuple of names, find the index of a particular name.


5. Slice a tuple to get the first three items.


6. Join two tuples together to form one tuple.


7. Repeat a tuple three times and display the result.


8. Access the second item of a nested tuple.


9. Convert a tuple to a list, add an item, and convert it back to a tuple.


10. Check if a certain value exists inside a tuple.

In [10]:
Fruits = ("Pineapple", "Grape", "Avocado", "Sour Sap", "Watermelon", "Cashew")
print(Fruits[0])
print(Fruits[5])

Pineapple
Cashew

In [11]:
Numbers = (5, 23, 33, 45, 10, 7)
print(min(Numbers))
print(max(Numbers))

5
45

In [12]:
Names = ("David", "Isreal", "Enoch", "David", "Divine", "Jessica", "David")
print(Names.count("David"))

3

In [13]:
Countries = ("Argentina", "Nigeria", "Canada", "Mexico", "Portugal", "Spain")
print(Countries.index("Argentina"))

0

In [3]:
Ratio = (10, 20, 30, 40, 50)
print(Ratio[:3])

(10, 20, 30)

In [4]:
a = (1, 2, 3)
b = (4 ,5 ,6)
print(a + b)

(1, 2, 3, 4, 5, 6)

In [5]:
D = (7, 10)
print (D * 3)

(7, 10, 7, 10, 7, 10)

In [8]:
Nested = ("School", (10, 20, 30), "Class")
print(Nested[1])

(10, 20, 30)

In [10]:
A = (1, 2, 3)
lst = list(A)
lst.append(4)
A = tuple(lst)
print(A)

(1, 2, 3, 4)

In [11]:
Values = (3, 6, 9, 12)
print(0 in Values)

False