In [36]:
import pandas as pd

In [37]:
df = pd.read_csv("data/car.csv")
print(df)

                   Name             Age       Course                    Score
0                         Dothan   16.0                  CYBERSECURITY   95.0
1                          saMuel  30.0                   data science    NaN
2                            JOHN   NaN                            AI    92.0
3                             NaN  21.0                  Cybersecurity   69.0
4                             NaN  17.0                             AI   88.0
5                           Grace  22.0                            NaN   90.0
6                          Esther  18.0                  Cybersecurity    NaN
7                          Daniel  18.0                  Cybersecurity    NaN
8                            Ruth   NaN                             ai   81.0
9                         michell  19.0                   Data Science   76.0
10                          ANNA   20.0                             AI   89.0
11                           john  19.0                             ai   91.0
12                         Esther  21.0                  CYBERSECURITY   69.0
13                         Samuel   NaN                   Data Science   84.0
14                        Rebekah  22.0                             AI    NaN
15                          Lawal  23.0                  cybersecurity   78.0
16                          David  21.0                   Data Science   82.0
17                          Peter  20.0                             AI   90.0
18                            NaN  18.0                             AI   75.0
19                          Grace  22.0                   Data Science   90.0

In [38]:
df.columns = df.columns.str.strip()
df["Name"] = df["Name"].str.strip().str.capitalize()
df["Course"] = df["Course"].str.strip().str.lower()
print(df)

       Name   Age         Course  Score
0    Dothan  16.0  cybersecurity   95.0
1    Samuel  30.0   data science    NaN
2      John   NaN             ai   92.0
3       NaN  21.0  cybersecurity   69.0
4       NaN  17.0             ai   88.0
5     Grace  22.0            NaN   90.0
6    Esther  18.0  cybersecurity    NaN
7    Daniel  18.0  cybersecurity    NaN
8      Ruth   NaN             ai   81.0
9   Michell  19.0   data science   76.0
10     Anna  20.0             ai   89.0
11     John  19.0             ai   91.0
12   Esther  21.0  cybersecurity   69.0
13   Samuel   NaN   data science   84.0
14  Rebekah  22.0             ai    NaN
15    Lawal  23.0  cybersecurity   78.0
16    David  21.0   data science   82.0
17    Peter  20.0             ai   90.0
18      NaN  18.0             ai   75.0
19    Grace  22.0   data science   90.0

In [39]:
# Standardize Course Names
df["Course"] = df["Course"].replace({

    "ai": "AI",
    "data science": "Data Science",
    "cybersecurity": "Cybersecurity"
})
print(df)

       Name   Age         Course  Score
0    Dothan  16.0  Cybersecurity   95.0
1    Samuel  30.0   Data Science    NaN
2      John   NaN             AI   92.0
3       NaN  21.0  Cybersecurity   69.0
4       NaN  17.0             AI   88.0
5     Grace  22.0            NaN   90.0
6    Esther  18.0  Cybersecurity    NaN
7    Daniel  18.0  Cybersecurity    NaN
8      Ruth   NaN             AI   81.0
9   Michell  19.0   Data Science   76.0
10     Anna  20.0             AI   89.0
11     John  19.0             AI   91.0
12   Esther  21.0  Cybersecurity   69.0
13   Samuel   NaN   Data Science   84.0
14  Rebekah  22.0             AI    NaN
15    Lawal  23.0  Cybersecurity   78.0
16    David  21.0   Data Science   82.0
17    Peter  20.0             AI   90.0
18      NaN  18.0             AI   75.0
19    Grace  22.0   Data Science   90.0

In [40]:
# Handling Missing Values
df["Age"] = df["Age"].fillna(df["Age"].median())
df["Score"] = df["Score"].fillna(df["Score"].mean())
df["Course"] = df["Course"].fillna("Unknown")
df["Name"] = df["Name"].fillna("Unknown")
print(df)

       Name   Age         Course    Score
0    Dothan  16.0  Cybersecurity  95.0000
1    Samuel  30.0   Data Science  83.6875
2      John  20.0             AI  92.0000
3   Unknown  21.0  Cybersecurity  69.0000
4   Unknown  17.0             AI  88.0000
5     Grace  22.0        Unknown  90.0000
6    Esther  18.0  Cybersecurity  83.6875
7    Daniel  18.0  Cybersecurity  83.6875
8      Ruth  20.0             AI  81.0000
9   Michell  19.0   Data Science  76.0000
10     Anna  20.0             AI  89.0000
11     John  19.0             AI  91.0000
12   Esther  21.0  Cybersecurity  69.0000
13   Samuel  20.0   Data Science  84.0000
14  Rebekah  22.0             AI  83.6875
15    Lawal  23.0  Cybersecurity  78.0000
16    David  21.0   Data Science  82.0000
17    Peter  20.0             AI  90.0000
18  Unknown  18.0             AI  75.0000
19    Grace  22.0   Data Science  90.0000

In [41]:
# Fix data types
df["Age"] = df["Age"].astype(int)
df["Score"] = df["Score"].astype(int)
print(df)

       Name  Age         Course  Score
0    Dothan   16  Cybersecurity     95
1    Samuel   30   Data Science     83
2      John   20             AI     92
3   Unknown   21  Cybersecurity     69
4   Unknown   17             AI     88
5     Grace   22        Unknown     90
6    Esther   18  Cybersecurity     83
7    Daniel   18  Cybersecurity     83
8      Ruth   20             AI     81
9   Michell   19   Data Science     76
10     Anna   20             AI     89
11     John   19             AI     91
12   Esther   21  Cybersecurity     69
13   Samuel   20   Data Science     84
14  Rebekah   22             AI     83
15    Lawal   23  Cybersecurity     78
16    David   21   Data Science     82
17    Peter   20             AI     90
18  Unknown   18             AI     75
19    Grace   22   Data Science     90

In [42]:
# Drop duplicates
df = df.drop_duplicates()
print(df)

       Name  Age         Course  Score
0    Dothan   16  Cybersecurity     95
1    Samuel   30   Data Science     83
2      John   20             AI     92
3   Unknown   21  Cybersecurity     69
4   Unknown   17             AI     88
5     Grace   22        Unknown     90
6    Esther   18  Cybersecurity     83
7    Daniel   18  Cybersecurity     83
8      Ruth   20             AI     81
9   Michell   19   Data Science     76
10     Anna   20             AI     89
11     John   19             AI     91
12   Esther   21  Cybersecurity     69
13   Samuel   20   Data Science     84
14  Rebekah   22             AI     83
15    Lawal   23  Cybersecurity     78
16    David   21   Data Science     82
17    Peter   20             AI     90
18  Unknown   18             AI     75
19    Grace   22   Data Science     90

In [43]:
# Save cleaned data
df.to_csv("data/cleaned.csv", index=False)