In [59]:
import matplotlib.pyplot as plt
import pandas as pd

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
# Load Cleaned Data
df = pd.read_csv("../clean+working with data/data/cleaned.csv")
print(df)

       Name  Age         Course  Score
0    Dothan   16  Cybersecurity     95
1    Samuel   30   Data Science     83
2      John   20             AI     92
3   Unknown   21  Cybersecurity     69
4   Unknown   17             AI     88
5     Grace   22        Unknown     90
6    Esther   18  Cybersecurity     83
7    Daniel   18  Cybersecurity     83
8      Ruth   20             AI     81
9   Michell   19   Data Science     76
10     Anna   20             AI     89
11     John   19             AI     91
12   Esther   21  Cybersecurity     69
13   Samuel   20   Data Science     84
14  Rebekah   22             AI     83
15    Lawal   23  Cybersecurity     78
16    David   21   Data Science     82
17    Peter   20             AI     90
18  Unknown   18             AI     75
19    Grace   22   Data Science     90

In [ ]:
# Plotting
plt.plot(df["Age"], df["Score"], marker=0, color="red")
plt.xlabel("Student Name")
plt.ylabel("Student Score")
plt.title("Score Per Student")


plt.show()