In [24]:
import pandas as pd

data = {
    "Name": [
        "David","Sarah","John","Esther","Michael","Grace","Daniel","Ruth","Samuel","Deborah",
        "Paul","Mary","Peter","Anna","Joseph","Rebecca","James","Hannah","Andrew","Lydia",
        "Stephen","Naomi","Philip","Rachel","Simon","Martha","Timothy","Abigail","Luke","Joy",
        "Nathan","Faith","Mark","Clara","Isaac","Hope","Barnabas","Eunice","Joel","Mercy",
        "Caleb","Irene","Silas","Patience","Elijah","Victoria","Aaron","Peace","Joshua","Favour",
        "Noah","Blessing","Matthew","Charity","Jacob","Wisdom","Benjamin","Comfort","Daniel2","Praise",
        "David2","Grace2","John2","Esther2","Michael2","Sarah2","Paul2","Mary2","Peter2","Anna2",
        "Joseph2","Rebecca2","James2","Hannah2","Andrew2","Lydia2","Samuel2","Deborah2","Ruth2","Daniel3"
    ],

    "Age": [
        18,20,19,21,17,22,18,20,23,19,
        21,18,22,20,19,23,18,21,22,20,
        24,19,21,22,20,18,23,19,21,20,
        22,18,24,19,21,20,23,18,22,19,
        21,20,22,18,24,19,21,20,23,18,
        22,19,21,20,23,18,24,19,22,20,
        21,19,23,18,22,20,24,19,21,18,
        23,20,22,19,24,18,21,20,22,19
    ],

    "Course": [
        "AI","Data Science","AI","Cybersecurity","AI","Data Science","Cybersecurity","AI","Data Science","AI",
        "AI","Cybersecurity","Data Science","AI","AI","Data Science","Cybersecurity","AI","Data Science","AI",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science"
    ],

    "Score": [
        85,78,92,69,88,90,74,81,86,79,
        91,67,84,88,76,93,70,82,89,80,
        65,87,90,78,83,72,88,91,77,85,
        69,92,86,74,90,81,68,89,84,76,
        93,80,87,71,95,78,82,90,75,88,
        66,91,85,79,94,72,83,89,77,86,
        70,92,84,76,88,81,67,90,85,73,
        93,79,87,74,91,68,82,88,80,75
    ]
}

df = pd.DataFrame(data)
print(df)

        Name  Age         Course  Score
0      David   18             AI     85
1      Sarah   20   Data Science     78
2       John   19             AI     92
3     Esther   21  Cybersecurity     69
4    Michael   17             AI     88
..       ...  ...            ...    ...
75    Lydia2   18  Cybersecurity     68
76   Samuel2   21   Data Science     82
77  Deborah2   20             AI     88
78     Ruth2   22             AI     80
79   Daniel3   19   Data Science     75

[80 rows x 4 columns]

#### Modify the above data:
1. Create two new columns; passed and matured and set their values to be score > 50 and age > 18 respectively
2. Filter the data frame to only contain passed students.
3.  Filter the data frame to only contain matured students.
4.  Filter the data frame to only contain matured students and passed students.
5.  Filter the data frame to only contain matured students and failed students.

In [25]:
df["Passed"] = df["Score"] > 50
df["Matured"] = df["Age"] > 18

print(df)

        Name  Age         Course  Score  Passed  Matured
0      David   18             AI     85    True    False
1      Sarah   20   Data Science     78    True     True
2       John   19             AI     92    True     True
3     Esther   21  Cybersecurity     69    True     True
4    Michael   17             AI     88    True    False
..       ...  ...            ...    ...     ...      ...
75    Lydia2   18  Cybersecurity     68    True    False
76   Samuel2   21   Data Science     82    True     True
77  Deborah2   20             AI     88    True     True
78     Ruth2   22             AI     80    True     True
79   Daniel3   19   Data Science     75    True     True

[80 rows x 6 columns]

In [26]:
pas = df["Passed"]
Passed_students = df[df["Passed"] == pas]
print(Passed_students.head(20))

       Name  Age         Course  Score  Passed  Matured
0     David   18             AI     85    True    False
1     Sarah   20   Data Science     78    True     True
2      John   19             AI     92    True     True
3    Esther   21  Cybersecurity     69    True     True
4   Michael   17             AI     88    True    False
5     Grace   22   Data Science     90    True     True
6    Daniel   18  Cybersecurity     74    True    False
7      Ruth   20             AI     81    True     True
8    Samuel   23   Data Science     86    True     True
9   Deborah   19             AI     79    True     True
10     Paul   21             AI     91    True     True
11     Mary   18  Cybersecurity     67    True    False
12    Peter   22   Data Science     84    True     True
13     Anna   20             AI     88    True     True
14   Joseph   19             AI     76    True     True
15  Rebecca   23   Data Science     93    True     True
16    James   18  Cybersecurity     70    True    False
17   Hannah   21             AI     82    True     True
18   Andrew   22   Data Science     89    True     True
19    Lydia   20             AI     80    True     True

In [27]:
mat = df["Matured"]
Matured_students = df["Matured"]
print(Matured_students)

0     False
1      True
2      True
3      True
4     False
      ...
75    False
76     True
77     True
78     True
79     True
Name: Matured, Length: 80, dtype: bool

In [30]:
Passed_Matured_students = df[(df["Passed"]) & (df["Matured"])]
print(Passed_Matured_students)

        Name  Age         Course  Score  Passed  Matured
1      Sarah   20   Data Science     78    True     True
2       John   19             AI     92    True     True
3     Esther   21  Cybersecurity     69    True     True
5      Grace   22   Data Science     90    True     True
7       Ruth   20             AI     81    True     True
..       ...  ...            ...    ...     ...      ...
74   Andrew2   24             AI     91    True     True
76   Samuel2   21   Data Science     82    True     True
77  Deborah2   20             AI     88    True     True
78     Ruth2   22             AI     80    True     True
79   Daniel3   19   Data Science     75    True     True

[66 rows x 6 columns]

In [29]:
Matured_Failed_students = df[(df["Matured"] == True) &  (df["Passed"] == False)]
print(Matured_Failed_students)

Empty DataFrame
Columns: [Name, Age, Course, Score, Passed, Matured]
Index: []