In [160]:
import pandas as pd

data = {
    "Name": [
        "David","Sarah","John","Esther","Michael","Grace","Daniel","Ruth","Samuel","Deborah",
        "Paul","Mary","Peter","Anna","Joseph","Rebecca","James","Hannah","Andrew","Lydia",
        "Stephen","Naomi","Philip","Rachel","Simon","Martha","Timothy","Abigail","Luke","Joy",
        "Nathan","Faith","Mark","Clara","Isaac","Hope","Barnabas","Eunice","Joel","Mercy",
        "Caleb","Irene","Silas","Patience","Elijah","Victoria","Aaron","Peace","Joshua","Favour",
        "Noah","Blessing","Matthew","Charity","Jacob","Wisdom","Benjamin","Comfort","Daniel2","Praise",
        "David2","Grace2","John2","Esther2","Michael2","Sarah2","Paul2","Mary2","Peter2","Anna2",
        "Joseph2","Rebecca2","James2","Hannah2","Andrew2","Lydia2","Samuel2","Deborah2","Ruth2","Daniel3"
    ],

    "Age": [
        18,20,19,21,17,22,18,20,23,19,
        21,18,22,20,19,23,18,21,22,20,
        24,19,21,22,20,18,23,19,21,20,
        22,18,24,19,21,20,23,18,22,19,
        21,20,22,18,24,19,21,20,23,18,
        22,19,21,20,23,18,24,19,22,20,
        21,19,23,18,22,20,24,19,21,18,
        23,20,22,19,24,18,21,20,22,19
    ],

    "Course": [
        "AI","Data Science","AI","Cybersecurity","AI","Data Science","Cybersecurity","AI","Data Science","AI",
        "AI","Cybersecurity","Data Science","AI","AI","Data Science","Cybersecurity","AI","Data Science","AI",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science"
    ],

    "Score": [
        85,78,92,69,88,90,74,81,86,79,
        91,67,84,88,76,93,70,82,89,80,
        65,87,90,78,83,72,88,91,77,85,
        69,92,86,74,90,81,68,89,84,76,
        93,80,87,71,95,78,82,90,75,88,
        66,91,85,79,94,72,83,89,77,86,
        70,92,84,76,88,81,67,90,85,73,
        93,79,87,74,91,68,82,88,80,75
    ]
}

df = pd.DataFrame(data)
print(df)

        Name  Age         Course  Score
0      David   18             AI     85
1      Sarah   20   Data Science     78
2       John   19             AI     92
3     Esther   21  Cybersecurity     69
4    Michael   17             AI     88
..       ...  ...            ...    ...
75    Lydia2   18  Cybersecurity     68
76   Samuel2   21   Data Science     82
77  Deborah2   20             AI     88
78     Ruth2   22             AI     80
79   Daniel3   19   Data Science     75

[80 rows x 4 columns]

### Part 1: DataFrame Basics

Import Pandas.

Create a DataFrame using the dataset.

Display the entire DataFrame.

Print the number of rows and columns.

List all column names.

Display the data types of each column.

### Part 2: Viewing Data

Display the first two rows.

Display the last three rows.

Show a summary of the DataFrame structure.

### Part 3: Selecting Data

Select and display the Name column.

Select and display the Name and Score columns together.

Select and display the first row using label based selection.

Select and display the third row using position based selection.

### Part 4: Filtering Data

Display all students enrolled in the AI course.

Display all students with a score greater than 80.

Display students who are older than 18 and enrolled in AI.

Display students whose score is between 70 and 90.

Bonus Task (Optional)

Count how many students are enrolled in the AI course.

Display only the Name and Course of students younger than 20.

Learning Goal

By completing this assignment, David should be comfortable with:

Creating DataFrames

Understanding structure and metadata

Selecting rows and columns

Applying logical conditions for filtering

In [161]:
import pandas as pd

In [162]:
data = {
    "Name": [
        "David","Sarah","John","Esther","Michael","Grace","Daniel","Ruth","Samuel","Deborah",
        "Paul","Mary","Peter","Anna","Joseph","Rebecca","James","Hannah","Andrew","Lydia",
        "Stephen","Naomi","Philip","Rachel","Simon","Martha","Timothy","Abigail","Luke","Joy",
        "Nathan","Faith","Mark","Clara","Isaac","Hope","Barnabas","Eunice","Joel","Mercy",
        "Caleb","Irene","Silas","Patience","Elijah","Victoria","Aaron","Peace","Joshua","Favour",
        "Noah","Blessing","Matthew","Charity","Jacob","Wisdom","Benjamin","Comfort","Daniel2","Praise",
        "David2","Grace2","John2","Esther2","Michael2","Sarah2","Paul2","Mary2","Peter2","Anna2",
        "Joseph2","Rebecca2","James2","Hannah2","Andrew2","Lydia2","Samuel2","Deborah2","Ruth2","Daniel3"
    ],

    "Age": [
        18,20,19,21,17,22,18,20,23,19,
        21,18,22,20,19,23,18,21,22,20,
        24,19,21,22,20,18,23,19,21,20,
        22,18,24,19,21,20,23,18,22,19,
        21,20,22,18,24,19,21,20,23,18,
        22,19,21,20,23,18,24,19,22,20,
        21,19,23,18,22,20,24,19,21,18,
        23,20,22,19,24,18,21,20,22,19
    ],

    "Course": [
        "AI","Data Science","AI","Cybersecurity","AI","Data Science","Cybersecurity","AI","Data Science","AI",
        "AI","Cybersecurity","Data Science","AI","AI","Data Science","Cybersecurity","AI","Data Science","AI",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science"
    ],

    "Score": [
        85,78,92,69,88,90,74,81,86,79,
        91,67,84,88,76,93,70,82,89,80,
        65,87,90,78,83,72,88,91,77,85,
        69,92,86,74,90,81,68,89,84,76,
        93,80,87,71,95,78,82,90,75,88,
        66,91,85,79,94,72,83,89,77,86,
        70,92,84,76,88,81,67,90,85,73,
        93,79,87,74,91,68,82,88,80,75
    ]
}
df = pd.DataFrame(data)
print(df)

        Name  Age         Course  Score
0      David   18             AI     85
1      Sarah   20   Data Science     78
2       John   19             AI     92
3     Esther   21  Cybersecurity     69
4    Michael   17             AI     88
..       ...  ...            ...    ...
75    Lydia2   18  Cybersecurity     68
76   Samuel2   21   Data Science     82
77  Deborah2   20             AI     88
78     Ruth2   22             AI     80
79   Daniel3   19   Data Science     75

[80 rows x 4 columns]

In [163]:
print(df)

        Name  Age         Course  Score
0      David   18             AI     85
1      Sarah   20   Data Science     78
2       John   19             AI     92
3     Esther   21  Cybersecurity     69
4    Michael   17             AI     88
..       ...  ...            ...    ...
75    Lydia2   18  Cybersecurity     68
76   Samuel2   21   Data Science     82
77  Deborah2   20             AI     88
78     Ruth2   22             AI     80
79   Daniel3   19   Data Science     75

[80 rows x 4 columns]

In [164]:
print(df.shape)

(80, 4)

In [165]:
print(df.columns)

Index(['Name', 'Age', 'Course', 'Score'], dtype='object')

In [166]:
print(df.dtypes)

Name      object
Age        int64
Course    object
Score      int64
dtype: object

### 2. Viewing Data

In [167]:
# Display the first two rows
print(df.head(2))

    Name  Age        Course  Score
0  David   18            AI     85
1  Sarah   20  Data Science     78

In [168]:
print(df.tail(2))

       Name  Age        Course  Score
78    Ruth2   22            AI     80
79  Daniel3   19  Data Science     75

In [169]:
df.shape # Prints the shape of the dataFrame
df.columns # Prints the columns head
df.info() # Prints the overall info of the table.
df.describe() # Statistical report of the table

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    80 non-null     object
 1   Age     80 non-null     int64
 2   Course  80 non-null     object
 3   Score   80 non-null     int64
dtypes: int64(2), object(2)
memory usage: 2.6+ KB

             Age      Score
count  80.000000  80.000000
mean   20.512500  81.887500
std     1.889302   8.041024
min    17.000000  65.000000
25%    19.000000  76.000000
50%    20.000000  83.000000
75%    22.000000  88.250000
max    24.000000  95.000000

### Selecting data

In [170]:
print(df["Name"])

0        David
1        Sarah
2         John
3       Esther
4      Michael
        ...
75      Lydia2
76     Samuel2
77    Deborah2
78       Ruth2
79     Daniel3
Name: Name, Length: 80, dtype: object

In [171]:
print(df[["Name", "Score"]])

        Name  Score
0      David     85
1      Sarah     78
2       John     92
3     Esther     69
4    Michael     88
..       ...    ...
75    Lydia2     68
76   Samuel2     82
77  Deborah2     88
78     Ruth2     80
79   Daniel3     75

[80 rows x 2 columns]

In [172]:
print(df.iloc [0])

Name      David
Age          18
Course       AI
Score        85
Name: 0, dtype: object

In [173]:
print(df.loc [3])

Name             Esther
Age                  21
Course    Cybersecurity
Score                69
Name: 3, dtype: object

### Data Filtering

In [174]:
AI_Students = df[df["Course"] == "AI"]
print(AI_Students)

        Name  Age Course  Score
0      David   18     AI     85
2       John   19     AI     92
4    Michael   17     AI     88
7       Ruth   20     AI     81
9    Deborah   19     AI     79
10      Paul   21     AI     91
13      Anna   20     AI     88
14    Joseph   19     AI     76
17    Hannah   21     AI     82
19     Lydia   20     AI     80
21     Naomi   19     AI     87
23    Rachel   22     AI     78
24     Simon   20     AI     83
27   Abigail   19     AI     91
28      Luke   21     AI     77
31     Faith   18     AI     92
33     Clara   19     AI     74
34     Isaac   21     AI     90
37    Eunice   18     AI     89
38      Joel   22     AI     84
41     Irene   20     AI     80
43  Patience   18     AI     71
44    Elijah   24     AI     95
47     Peace   20     AI     90
48    Joshua   23     AI     75
51  Blessing   19     AI     91
53   Charity   20     AI     79
54     Jacob   23     AI     94
57   Comfort   19     AI     89
58   Daniel2   22     AI     77
61    Grace2   19     AI     92
63   Esther2   18     AI     76
64  Michael2   22     AI     88
67     Mary2   19     AI     90
68    Peter2   21     AI     85
71  Rebecca2   20     AI     79
73   Hannah2   19     AI     74
74   Andrew2   24     AI     91
77  Deborah2   20     AI     88
78     Ruth2   22     AI     80

In [175]:
Above_80 = df[df["Score"] > 80]
print(Above_80)

        Name  Age         Course  Score
0      David   18             AI     85
2       John   19             AI     92
4    Michael   17             AI     88
5      Grace   22   Data Science     90
7       Ruth   20             AI     81
8     Samuel   23   Data Science     86
10      Paul   21             AI     91
12     Peter   22   Data Science     84
13      Anna   20             AI     88
15   Rebecca   23   Data Science     93
17    Hannah   21             AI     82
18    Andrew   22   Data Science     89
21     Naomi   19             AI     87
22    Philip   21   Data Science     90
24     Simon   20             AI     83
26   Timothy   23   Data Science     88
27   Abigail   19             AI     91
29       Joy   20   Data Science     85
31     Faith   18             AI     92
32      Mark   24   Data Science     86
34     Isaac   21             AI     90
35      Hope   20  Cybersecurity     81
37    Eunice   18             AI     89
38      Joel   22             AI     84
40     Caleb   21  Cybersecurity     93
42     Silas   22   Data Science     87
44    Elijah   24             AI     95
46     Aaron   21   Data Science     82
47     Peace   20             AI     90
49    Favour   18   Data Science     88
51  Blessing   19             AI     91
52   Matthew   21   Data Science     85
54     Jacob   23             AI     94
56  Benjamin   24   Data Science     83
57   Comfort   19             AI     89
59    Praise   20   Data Science     86
61    Grace2   19             AI     92
62     John2   23   Data Science     84
64  Michael2   22             AI     88
65    Sarah2   20  Cybersecurity     81
67     Mary2   19             AI     90
68    Peter2   21             AI     85
70   Joseph2   23  Cybersecurity     93
72    James2   22   Data Science     87
74   Andrew2   24             AI     91
76   Samuel2   21   Data Science     82
77  Deborah2   20             AI     88

In [176]:
Above_18_AI_Students = df[(df["Age"] > 18) & (df["Course"] == "AI")]
print(Above_18_AI_Students)

        Name  Age Course  Score
2       John   19     AI     92
7       Ruth   20     AI     81
9    Deborah   19     AI     79
10      Paul   21     AI     91
13      Anna   20     AI     88
14    Joseph   19     AI     76
17    Hannah   21     AI     82
19     Lydia   20     AI     80
21     Naomi   19     AI     87
23    Rachel   22     AI     78
24     Simon   20     AI     83
27   Abigail   19     AI     91
28      Luke   21     AI     77
33     Clara   19     AI     74
34     Isaac   21     AI     90
38      Joel   22     AI     84
41     Irene   20     AI     80
44    Elijah   24     AI     95
47     Peace   20     AI     90
48    Joshua   23     AI     75
51  Blessing   19     AI     91
53   Charity   20     AI     79
54     Jacob   23     AI     94
57   Comfort   19     AI     89
58   Daniel2   22     AI     77
61    Grace2   19     AI     92
64  Michael2   22     AI     88
67     Mary2   19     AI     90
68    Peter2   21     AI     85
71  Rebecca2   20     AI     79
73   Hannah2   19     AI     74
74   Andrew2   24     AI     91
77  Deborah2   20     AI     88
78     Ruth2   22     AI     80

In [178]:
between_70_90 = df[(df["Score"] >= 70) & (df["Score"] <= 90)]
print(between_70_90)

        Name  Age         Course  Score
0      David   18             AI     85
1      Sarah   20   Data Science     78
4    Michael   17             AI     88
5      Grace   22   Data Science     90
6     Daniel   18  Cybersecurity     74
7       Ruth   20             AI     81
8     Samuel   23   Data Science     86
9    Deborah   19             AI     79
12     Peter   22   Data Science     84
13      Anna   20             AI     88
14    Joseph   19             AI     76
16     James   18  Cybersecurity     70
17    Hannah   21             AI     82
18    Andrew   22   Data Science     89
19     Lydia   20             AI     80
21     Naomi   19             AI     87
22    Philip   21   Data Science     90
23    Rachel   22             AI     78
24     Simon   20             AI     83
25    Martha   18  Cybersecurity     72
26   Timothy   23   Data Science     88
28      Luke   21             AI     77
29       Joy   20   Data Science     85
32      Mark   24   Data Science     86
33     Clara   19             AI     74
34     Isaac   21             AI     90
35      Hope   20  Cybersecurity     81
37    Eunice   18             AI     89
38      Joel   22             AI     84
39     Mercy   19   Data Science     76
41     Irene   20             AI     80
42     Silas   22   Data Science     87
43  Patience   18             AI     71
45  Victoria   19  Cybersecurity     78
46     Aaron   21   Data Science     82
47     Peace   20             AI     90
48    Joshua   23             AI     75
49    Favour   18   Data Science     88
52   Matthew   21   Data Science     85
53   Charity   20             AI     79
55    Wisdom   18  Cybersecurity     72
56  Benjamin   24   Data Science     83
57   Comfort   19             AI     89
58   Daniel2   22             AI     77
59    Praise   20   Data Science     86
60    David2   21  Cybersecurity     70
62     John2   23   Data Science     84
63   Esther2   18             AI     76
64  Michael2   22             AI     88
65    Sarah2   20  Cybersecurity     81
67     Mary2   19             AI     90
68    Peter2   21             AI     85
69     Anna2   18   Data Science     73
71  Rebecca2   20             AI     79
72    James2   22   Data Science     87
73   Hannah2   19             AI     74
76   Samuel2   21   Data Science     82
77  Deborah2   20             AI     88
78     Ruth2   22             AI     80
79   Daniel3   19   Data Science     75

In [180]:
df["TotalScore"] = df["Score"] + 5
print(df)

        Name  Age         Course  Score  TotalScore
0      David   18             AI     90          95
1      Sarah   20   Data Science     83          88
2       John   19             AI     97         102
3     Esther   21  Cybersecurity     74          79
4    Michael   17             AI     93          98
..       ...  ...            ...    ...         ...
75    Lydia2   18  Cybersecurity     73          78
76   Samuel2   21   Data Science     87          92
77  Deborah2   20             AI     93          98
78     Ruth2   22             AI     85          90
79   Daniel3   19   Data Science     80          85

[80 rows x 5 columns]

In [181]:
Number_Of_AI = AI_Students.shape[0]
print("Number of students enrolled in AI:", Number_Of_AI)

Number of students enrolled in AI: 40

In [182]:
print(df[["Name", "Course"]])

        Name         Course
0      David             AI
1      Sarah   Data Science
2       John             AI
3     Esther  Cybersecurity
4    Michael             AI
..       ...            ...
75    Lydia2  Cybersecurity
76   Samuel2   Data Science
77  Deborah2             AI
78     Ruth2             AI
79   Daniel3   Data Science

[80 rows x 2 columns]