In [ ]:
import pandas as pd

data = {
    "Name": [
        "David","Sarah","John","Esther","Michael","Grace","Daniel","Ruth","Samuel","Deborah",
        "Paul","Mary","Peter","Anna","Joseph","Rebecca","James","Hannah","Andrew","Lydia",
        "Stephen","Naomi","Philip","Rachel","Simon","Martha","Timothy","Abigail","Luke","Joy",
        "Nathan","Faith","Mark","Clara","Isaac","Hope","Barnabas","Eunice","Joel","Mercy",
        "Caleb","Irene","Silas","Patience","Elijah","Victoria","Aaron","Peace","Joshua","Favour",
        "Noah","Blessing","Matthew","Charity","Jacob","Wisdom","Benjamin","Comfort","Daniel2","Praise",
        "David2","Grace2","John2","Esther2","Michael2","Sarah2","Paul2","Mary2","Peter2","Anna2",
        "Joseph2","Rebecca2","James2","Hannah2","Andrew2","Lydia2","Samuel2","Deborah2","Ruth2","Daniel3"
    ],

    "Age": [
        18,20,19,21,17,22,18,20,23,19,
        21,18,22,20,19,23,18,21,22,20,
        24,19,21,22,20,18,23,19,21,20,
        22,18,24,19,21,20,23,18,22,19,
        21,20,22,18,24,19,21,20,23,18,
        22,19,21,20,23,18,24,19,22,20,
        21,19,23,18,22,20,24,19,21,18,
        23,20,22,19,24,18,21,20,22,19
    ],

    "Course": [
        "AI","Data Science","AI","Cybersecurity","AI","Data Science","Cybersecurity","AI","Data Science","AI",
        "AI","Cybersecurity","Data Science","AI","AI","Data Science","Cybersecurity","AI","Data Science","AI",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science",
        "Cybersecurity","AI","Data Science","AI","AI","Cybersecurity","Data Science","AI","AI","Data Science"
    ],

    "Score": [
        85,78,92,69,88,90,74,81,86,79,
        91,67,84,88,76,93,70,82,89,80,
        65,87,90,78,83,72,88,91,77,85,
        69,92,86,74,90,81,68,89,84,76,
        93,80,87,71,95,78,82,90,75,88,
        66,91,85,79,94,72,83,89,77,86,
        70,92,84,76,88,81,67,90,85,73,
        93,79,87,74,91,68,82,88,80,75
    ]
}

df = pd.DataFrame(data)
print(df)

### Part 1: DataFrame Basics

Import Pandas.

Create a DataFrame using the dataset.

Display the entire DataFrame.

Print the number of rows and columns.

List all column names.

Display the data types of each column.

### Part 2: Viewing Data

Display the first two rows.

Display the last three rows.

Show a summary of the DataFrame structure.

### Part 3: Selecting Data

Select and display the Name column.

Select and display the Name and Score columns together.

Select and display the first row using label based selection.

Select and display the third row using position based selection.

### Part 4: Filtering Data

Display all students enrolled in the AI course.

Display all students with a score greater than 80.

Display students who are older than 18 and enrolled in AI.

Display students whose score is between 70 and 90.

Bonus Task (Optional)

Count how many students are enrolled in the AI course.

Display only the Name and Course of students younger than 20.

Learning Goal

By completing this assignment, David should be comfortable with:

Creating DataFrames

Understanding structure and metadata

Selecting rows and columns

Applying logical conditions for filtering