### What is Pandas?

Pandas is a python library used for data manipulation and data analysis.
It is built on top of Numpy and makes working with structured data easy.

In [ ]:
import pandas as pd

### Series Vs DataFrame
Series:
A one dimensional labeled array.

In [ ]:
a = ["a", "b", "c", "d", "e"]
pd.Series(a)

0    a
1    b
2    c
3    d
4    e
dtype: object

DataFrame: A two dimensional table of rows and columns

In [ ]:
data = {
    "Name": ["David", "Joy", "Ben", "Jude"],
    "Age": [18, 17, 15, 10],
    "Score": [85, 48, 43, 90]
}
df = pd.DataFrame(data)
print(df)

    Name  Age  Score
0  David   18     85
1    Joy   17     48
2    Ben   15     43
3   Jude   10     90

### Veiwing Data

In [ ]:
df.head() # Prints the first five rows
df.tail() # Prints the last five rows
df.shape # Prints the shape of the dataFrame
df.columns # Prints the columns head
df.info() # Prints the overall info of the table.
df.describe() # Statistical report of the table

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   Score   4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

             Age      Score
count   4.000000   4.000000
mean   15.000000  66.500000
std     3.559026  24.419937
min    10.000000  43.000000
25%    13.750000  46.750000
50%    16.000000  66.500000
75%    17.250000  86.250000
max    18.000000  90.000000

### Selecting Data

In [ ]:
# Selecting Columns
df["Name"]
df[["Name", "Age", "Score"]]

print(df)

# Selecting Rows
print(df.loc[0, "Age"]) # loc is for custom index
print(df.iloc[0, 1]) # iloc is for original index

    Name  Age  Score
0  David   18     85
1    Joy   17     48
2    Ben   15     43
3   Jude   10     90
18
18

In [ ]:
print(df.iloc[1, 0])

Joy

In [ ]:
print(df.iloc[2, 2])

43

In [ ]:
print(df.loc[2, "Age"])

15

### Filtering

In [ ]:
print(df)

    Name  Age  Score
0  David   18     85
1    Joy   17     48
2    Ben   15     43
3   Jude   10     90

In [ ]:
print(df["Age"] > 16)

0     True
1     True
2    False
3    False
Name: Age, dtype: bool

In [ ]:
under_16 = df[df["Age"] < 16]
print(under_16)

   Name  Age  Score
2   Ben   15     43
3  Jude   10     90

In [ ]:
over_16 = df[df["Age"] > 16]
print(over_16)

    Name  Age  Score
0  David   18     85
1    Joy   17     48

In [ ]:
above_50 = df[df["Score"] > 50]
print(above_50)

    Name  Age  Score
0  David   18     85
3   Jude   10     90

In [ ]:
below_15_above_50 = df[(df["Age"]< 15) & (df["Score"]> 50)]
print(below_15_above_50)

   Name  Age  Score
3  Jude   10     90

In [ ]:
below_18_below_50 = df[(df["Age"]< 18) & (df["Score"]< 50)]
print(below_18_below_50)

  Name  Age  Score
1  Joy   17     48
2  Ben   15     43