In [4]:
import numpy as np
data = {
    "Student": ["David", "Esther", "Michael", "Grace", "Daniel"],
    "Age": [18, 19, 17, 20, 18],
    "Math": [78, 85, 69, 90, 74],
    "English": [82, 88, 75, 91, 79],
    "Science": [80, 92, 70, 89, 76]
}

### Part 1: Exploring the Data

- Create a DataFrame from the dataset.

- Display the first three rows.

- Display the last two rows.

- Print the shape of the DataFrame.

- List all column names.

### Part 2: Working With Columns

- Select and display only the Student and Math columns.

- Calculate the average score for each subject.

- Add a new column called Total that contains the sum of the three subjects for each student.

### Part 3: Data Filtering

- Display students who scored more than 80 in Math.

- Display students whose total score is greater than 240.

### Part 4: Data Modification

- Increase all English scores by 5.

- Change Davidâ€™s Science score to 85.

- Add a new column called Passed where a student passes if their average score is 75 or above.

### Part 5: Simple Analysis

- Find the highest total score.

- Find the student with the lowest Math score.

- Calculate the class average for Science.

In [5]:
import pandas as pd
import numpy as np

#### Create the Data Frame

In [6]:
data = {
    "Student": ["David", "Esther", "Michael", "Grace", "Daniel"],
    "Age": [18, 19, 17, 20, 18],
    "Math": [78, 85, 69, 90, 74],
    "English": [82, 88, 75, 91, 79],
    "Science": [80, 92, 70, 89, 76]
}
df = pd.DataFrame(data)

##### Part 1: Exploring the Data

In [7]:
print("First 3 rows:")
print(df.head(3), "\n")

First 3 rows:
   Student  Age  Math  English  Science
0    David   18    78       82       80
1   Esther   19    85       88       92
2  Michael   17    69       75       70

In [8]:
print("Last 2 rows:")
print(df.head(2), "\n")

Last 2 rows:
  Student  Age  Math  English  Science
0   David   18    78       82       80
1  Esther   19    85       88       92

In [9]:
print("Shape of DataFrame:")
print(df.shape, "\n")

Shape of DataFrame:
(5, 5)

In [17]:
print("Column names:")
print(df.columns.tolist(), "\n")

Column names:
['Student', 'Age', 'Math', 'English', 'Science']

##### Part 2: Working with columns

In [8]:
print("Student and Math Columns:")
print(df[["Student", "Math"]], "\n")

Student and Math Columns:
   Student  Math
0    David    78
1   Esther    85
2  Michael    69
3    Grace    90
4   Daniel    74

In [9]:
print("Average score for each subject:")
print(df[["Math", "English", "Science"]].mean(), "\n")

Average score for each subject:
Math       79.2
English    83.0
Science    81.4
dtype: float64

##### Add Total Column

In [10]:
df["Total"] = df["Math"] +  df["English"] + df["Science"]
print("DataFrame with Total Column:")
print(df, "\n")

DataFrame with Total Column:
   Student  Age  Math  English  Science  Total
0    David   18    78       82       80    240
1   Esther   19    85       88       92    265
2  Michael   17    69       75       70    214
3    Grace   20    90       91       89    270
4   Daniel   18    74       79       76    229

#### Part 3: Data Filtering

In [11]:
print("Students who scored more than 80 in Math:")
print(df[df["Math"] > 80], "\n")

print("Students with total score greater than 240:")
print(df[df["Total"] > 240], "\n")

Students who scored more than 80 in Math:
  Student  Age  Math  English  Science  Total
1  Esther   19    85       88       92    265
3   Grace   20    90       91       89    270

Students with total score greater than 240:
  Student  Age  Math  English  Science  Total
1  Esther   19    85       88       92    265
3   Grace   20    90       91       89    270

#### Part 4: Data Modification

##### Increase all English scores by 5

In [12]:
df["English"] += 5

#### Change David's Science score to 85

In [13]:
df.loc[df["Student"] == "David", "Science"] = 85

#### Add Passed column (average >= 75)

In [14]:
df["Average"] = df[["Math", "English", "Science"]].mean(axis=1)
df["Passed"] = df["Average"] >= 75

print("Modified DataFrame:")
print(df, "\n")

Modified DataFrame:
   Student  Age  Math  English  Science  Total    Average  Passed
0    David   18    78       87       85    240  83.333333    True
1   Esther   19    85       93       92    265  90.000000    True
2  Michael   17    69       80       70    214  73.000000   False
3    Grace   20    90       96       89    270  91.666667    True
4   Daniel   18    74       84       76    229  78.000000    True

#### Part 5: Simple Analysis

In [15]:
print("Highest total score:")
print(df["Total"].max(), "\n")

print("Student with lowest Math score:")
print(df.loc[df["Math"].idxmin(), "Student"], "\n")

print("Class average for Science:")
print(df["Science"].mean())

Highest total score:
270

Student with lowest Math score:
Michael

Class average for Science:
82.4