In [44]:
import pandas as pd

In [45]:
df = pd.read_csv("dave.csv")
print(df)

                          Name             Age Course                    Score
0                                 david   18.0                       ai   85.0
1                                  Sarah  20.0             data science    NaN
2                                   JOHN   NaN                      AI    92.0
3                                 esther  21.0            Cybersecurity   69.0
4                                    NaN  17.0                       AI   88.0
5                                  Grace  22.0                      NaN   90.0
6                                   Ella  18.0            Cybersecurity    NaN
7                                   Ella  18.0            Cybersecurity    NaN
8                                   Ruth   NaN                       ai   81.0
9                                Michael  19.0             Data Science   76.0
10                                 ANNA   20.0                       AI   89.0
11                                  JOHN  19.0                       ai   91.0
12                                Esther  21.0            CYBERSECURITY   69.0
13                                Samuel   NaN             Data Science   84.0
14                               Rebecca  22.0                       AI    NaN
15                                  Paul  23.0            cybersecurity   78.0
16                                  Mary  21.0             Data Science   82.0
17                                 Peter  20.0                       AI   90.0
18                                   NaN  18.0                       AI   75.0
19                                 Grace  22.0             Data Science   90.0

In [46]:
df.columns = df.columns.str.strip() # Remove white space from the columns
df["Name"] = df["Name"].str.strip().str.capitalize() # Remove white space from the Name columns
df["Course"] = df["Course"].str.strip().str.lower() # Remove white space from the Course  columns
print(df)
print(df)

       Name   Age         Course  Score
0     David  18.0             ai   85.0
1     Sarah  20.0   data science    NaN
2      John   NaN             ai   92.0
3    Esther  21.0  cybersecurity   69.0
4       NaN  17.0             ai   88.0
5     Grace  22.0            NaN   90.0
6      Ella  18.0  cybersecurity    NaN
7      Ella  18.0  cybersecurity    NaN
8      Ruth   NaN             ai   81.0
9   Michael  19.0   data science   76.0
10     Anna  20.0             ai   89.0
11     John  19.0             ai   91.0
12   Esther  21.0  cybersecurity   69.0
13   Samuel   NaN   data science   84.0
14  Rebecca  22.0             ai    NaN
15     Paul  23.0  cybersecurity   78.0
16     Mary  21.0   data science   82.0
17    Peter  20.0             ai   90.0
18      NaN  18.0             ai   75.0
19    Grace  22.0   data science   90.0
       Name   Age         Course  Score
0     David  18.0             ai   85.0
1     Sarah  20.0   data science    NaN
2      John   NaN             ai   92.0
3    Esther  21.0  cybersecurity   69.0
4       NaN  17.0             ai   88.0
5     Grace  22.0            NaN   90.0
6      Ella  18.0  cybersecurity    NaN
7      Ella  18.0  cybersecurity    NaN
8      Ruth   NaN             ai   81.0
9   Michael  19.0   data science   76.0
10     Anna  20.0             ai   89.0
11     John  19.0             ai   91.0
12   Esther  21.0  cybersecurity   69.0
13   Samuel   NaN   data science   84.0
14  Rebecca  22.0             ai    NaN
15     Paul  23.0  cybersecurity   78.0
16     Mary  21.0   data science   82.0
17    Peter  20.0             ai   90.0
18      NaN  18.0             ai   75.0
19    Grace  22.0   data science   90.0

In [47]:
# Standardize Course names
df["Course"] = df["Course"].replace({
    "ai": "AI", 
    "cybersecurity": "Cybersecurity",
    "data science": "Data science"
})
print(df)

       Name   Age         Course  Score
0     David  18.0             AI   85.0
1     Sarah  20.0   Data science    NaN
2      John   NaN             AI   92.0
3    Esther  21.0  Cybersecurity   69.0
4       NaN  17.0             AI   88.0
5     Grace  22.0            NaN   90.0
6      Ella  18.0  Cybersecurity    NaN
7      Ella  18.0  Cybersecurity    NaN
8      Ruth   NaN             AI   81.0
9   Michael  19.0   Data science   76.0
10     Anna  20.0             AI   89.0
11     John  19.0             AI   91.0
12   Esther  21.0  Cybersecurity   69.0
13   Samuel   NaN   Data science   84.0
14  Rebecca  22.0             AI    NaN
15     Paul  23.0  Cybersecurity   78.0
16     Mary  21.0   Data science   82.0
17    Peter  20.0             AI   90.0
18      NaN  18.0             AI   75.0
19    Grace  22.0   Data science   90.0

In [48]:
# Handling missing values (Dropna & Fillna)
# df = df.dropna()

df["Age"] = df["Age"].fillna(df["Age"].median())
df["Score"] = df["Score"].fillna(df["Score"].mean())
df["Course"] = df["Course"].fillna("Unknown")
df["Name"] = df["Name"].fillna("Unknown")
print(df)

       Name   Age         Course    Score
0     David  18.0             AI  85.0000
1     Sarah  20.0   Data science  83.0625
2      John  20.0             AI  92.0000
3    Esther  21.0  Cybersecurity  69.0000
4   Unknown  17.0             AI  88.0000
5     Grace  22.0        Unknown  90.0000
6      Ella  18.0  Cybersecurity  83.0625
7      Ella  18.0  Cybersecurity  83.0625
8      Ruth  20.0             AI  81.0000
9   Michael  19.0   Data science  76.0000
10     Anna  20.0             AI  89.0000
11     John  19.0             AI  91.0000
12   Esther  21.0  Cybersecurity  69.0000
13   Samuel  20.0   Data science  84.0000
14  Rebecca  22.0             AI  83.0625
15     Paul  23.0  Cybersecurity  78.0000
16     Mary  21.0   Data science  82.0000
17    Peter  20.0             AI  90.0000
18  Unknown  18.0             AI  75.0000
19    Grace  22.0   Data science  90.0000

In [49]:
# Fix data types
df["Age"] = df["Age"].astype(int)
df["Score"] = df["Score"].astype(int)
print(df)

       Name  Age         Course  Score
0     David   18             AI     85
1     Sarah   20   Data science     83
2      John   20             AI     92
3    Esther   21  Cybersecurity     69
4   Unknown   17             AI     88
5     Grace   22        Unknown     90
6      Ella   18  Cybersecurity     83
7      Ella   18  Cybersecurity     83
8      Ruth   20             AI     81
9   Michael   19   Data science     76
10     Anna   20             AI     89
11     John   19             AI     91
12   Esther   21  Cybersecurity     69
13   Samuel   20   Data science     84
14  Rebecca   22             AI     83
15     Paul   23  Cybersecurity     78
16     Mary   21   Data science     82
17    Peter   20             AI     90
18  Unknown   18             AI     75
19    Grace   22   Data science     90

In [50]:
# Remove duplicates
df = df.drop_duplicates()
print(df)

       Name  Age         Course  Score
0     David   18             AI     85
1     Sarah   20   Data science     83
2      John   20             AI     92
3    Esther   21  Cybersecurity     69
4   Unknown   17             AI     88
5     Grace   22        Unknown     90
6      Ella   18  Cybersecurity     83
8      Ruth   20             AI     81
9   Michael   19   Data science     76
10     Anna   20             AI     89
11     John   19             AI     91
13   Samuel   20   Data science     84
14  Rebecca   22             AI     83
15     Paul   23  Cybersecurity     78
16     Mary   21   Data science     82
17    Peter   20             AI     90
18  Unknown   18             AI     75
19    Grace   22   Data science     90

In [51]:
# Save Clean Data
import os
os.makedirs("Cleaning_nd_working_with_data/data", exist_ok=True)
df.to_csv("Cleaning_nd_working_with_data/data/cleaned.csv", index=False)
print("Data saved successfully.")

Data saved successfully.